body {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  margin: auto;
  /* background-color: pink; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  line-height: 100vh;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(45deg, #ff85b3, #e2b9ff, #c3ffc2);
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease infinite;
  box-shadow: 0 0 50px #fff2f2, 0 0 100px #ffbdfc, 0 0 150px #d6baff, 0 0 200px #b3ffd9;
}
