body {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  margin: auto;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  line-height: 100vh;
}
